.new{margin-left: 50px;}
.field{
    font-family: "Zen Maru Gothic", serif;
    font-size: 50px;
    color:  rgb(120, 82, 59);
}

.form-group{
    font-family: "Zen Maru Gothic", serif;
    font-size: 20px;
    color:  rgb(120, 82, 59);}

h2{
    font-family: "Zen Maru Gothic", serif;
    color:  rgb(120, 82, 59);
}