.tag{
    font-family: "Zen Maru Gothic", serif;
    font-size: 30px;
    color:  rgb(120, 82, 59);
   }

.tag-title{
    text-align: center;
font-size: 60px;}

.tag-top{
    font-size: 20px;
    border: 2px;
    border-radius: 50px;
    border: solid;
    padding: 10px 20px;
    border-color: rgb(120, 82, 59);
    width: 5%;
    display: flex;
    align-items: center;}

.tag-a{margin-left: 200px;}
